src/Test/enron
src/Test/parsed

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xcodeproj

## Other
*.xccheckout
*.moved-aside
*.xcuserstate

# executables
src/Client/Client
src/Server/Server
src/Iee/Iee
src/Test/Test

# Created by https://www.gitignore.io/api/c++,linux

### C++ ###
*.d
*.slo
*.lo
*.o
*.obj
*.debug
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.tar.gz
# End of https://www.gitignore.io/api/c++,linux
